body{
  font-family: 'Dancing Script', cursive;
}

footer{

}

.contenedor .contenedorHeader{
  margin: 0;
  padding: 0;
  width: 100%;

}

.contenedorHeader div{
  box-sizing: border-box;
  min-width: 10px;
  padding: 5px;
  background-color: #5b7989;
}

.titulo{
  color: white;
  border-top-left-radius: 10px;
  text-shadow: 2px 2px #02010a;
}

.menu{
  border-top-right-radius: 10px;
  align: center;
  margin: 0 auto;
}

a{
  outline: 0;
  font-size: 1.5em;
}

a:link, a:visited{
  color: white;
  padding: 0 1px;
}

#inicioMenu{
  text-decoration: none;
}

.menu nav{
    height: 40px;
    margin: 0 auto 2em auto;
    padding: 0px;
    text-align: center;
    width: auto;
}

.menu nav ul{
  list-style: none;
  margin: 0 auto;
  width: 800px;
  padding-top: 4%;
  padding-left: 300px;
}

.menu nav li{
  float: left;
  display: inline;
  margin: 0;
  width: 80px;
}
.contenedorHeader{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@media (min-width: 800px){ /*Visualizacion pantalla Desktop*/
  .titulo, .menu{
    width: 50%;
  }
  .contenedorHeader{
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.contenedor div{
    box-sizing: border-box;
    min-width: 10px;
    padding: 5px;
    background-color: #C6d5c5;
  }

.contacto{
    color: black;
    border-bottom-left-radius: 10px;
}
.terminos{
  color: black;
}

.redesSociales{
  color: black;
}

.derechos{
  color: black;
  border-bottom-right-radius: 10px;
}

.contenedor{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@media (min-width: 800px){ /*Visualizacion pantalla Desktop*/
  .contacto, .terminos, .redesSociales, .derechos{
    width: 25%;
  }
  .contenedor{
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
