@font-face {
  font-family: 'DancingScript-Regular';
  src: url(../fonts/DancingScript-Regular.otf);
}

body{
  font-family: 'DancingScript-Regular';
  background-color: #02010a;
}

.contenedorCentral{
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-flow: wrap;
}

.contenedorCentral header, .contenedorCentral main, .contenedorCentral footer{
  width: 100%;
}

header{
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 10px;
  display: flex;
  flex-flow: row wrap;
  animation: slidein 2s;
}

header h1{
  text-shadow: 2px 2px 0 #02010a;
  font-size: 2.1em;
}

header nav{
  margin-top: 30px;
  font-size: 1.3em;
  margin-left: auto;
}

header a{
  color:white
}

header nav ul{
  list-style: none;
  margin: 0 auto;
  width: 100%;
}

header nav li{
  display: inline;
  margin: 5px;
}

header nav #sitioActual, header nav a:visited{
  text-decoration: none;
}

img{
  box-shadow: 2px 2px 2px 0 #02010a;
}

#imagenCentrada{
  padding: 5% 2%;
  text-align: center;
  background-color: #82c3a6;
}

#imagenCentrada img{
  width: 85%;
  margin: auto;
}

#imagenSecundaria{
  border: 1px;
  padding: 5% 2%;
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
}

.imgSec{
  text-align: center;
}

#imagenSecundaria div img{
  margin: 0 auto;
  width: 100%;
}

#imagenSecundaria a{
  color: black;
}

#secundariaPaisaje img{
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
}

#secundariaPaisaje img:hover{
  transform: rotateZ(10deg);
  box-shadow: 2px #82c3a6;
}

#secundariaRetrato img{
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
}

#secundariaRetrato img:hover{
  transform: translateX(20px) translateY(-5px);
  box-shadow: 2px #82c3a6;
}

.galeria{
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.galeria div{
  padding: 1%;
  width: 280px;
}

.galeria div img{
  width: 90%;
  margin: auto;
}

.galeria div:first-child img{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.galeria div:nth-child(even) img{
  -webkit-filter: grayscale(100%);
  filter: graysacale(100%);
}

.galeria div:nth-child(3) img{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

footer{
  padding: 5% 2%;
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  flex-flow: row wrap;
}

footer div{
  margin: 0 auto;
  text-align: center;
}

footer ul{
  list-style: none;
  text-align: left;
}

footer img{
  height: 20px;
  width: 20px;
}

@-webkit-keyframes slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

@media all and (min-width: 900px) { /*estilo para desktop*/
  .contenedorCentral{
    width: 900px;
  }
  header h1{
    width: 70%;
  }
  header nav{
    width: 30%;
  }
  #imagenSecundaria div{
    width: 50%;
  }
  .galeria div{
    width: 31%;
  }
  footer div{
    width: 25%;
  }
}

@media (max-width: 900px) {
  .contenedorCentral{
    width: 100%;
  }
  header{
    text-align: center;
  }
  header h1{
    width: 100%;
    margin: auto;
  }
  header nav{
    width: 100%;
    margin: auto;
  }
  #imagenSecundaria div{
    width: 100%;
  }
  .galeria div{
    width: 100%;
  }
  footer div{
    width: 90%;
  }

}
